*.log
.htaccess
bitbucket-pipelines.yml
wp-*.php
xmlrpc.php
wp-config.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/uploads/
wp-content/upgrade/*
wp-content/cache/*
wp-content/plugins/*
!wp-content/plugins/custom-modules/*
wp-content/themes/*
sitemap.xml
sitemap.xml.gz
readme.html
license.txt
wp-config.php
resumes/*
tools/*
sitemap.xml
sitemap.xml.gz
readme.html
license.txt
wp-config.php
readme.html
license.txt
wp-config.php
readme.html
index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackack.php
xmlrcp.php
lincese.txt

!wp-content/themes/optimaderm
!wp-content/themes/optimaderm/index.php
!wp-content/plugins/custom-modules
wp-content/maintenance.php
wp-content/maintenance/template.phtml
wp-content/maintenance/assets/styles.css
wp-content/maintenance/assets/timer.js
wp-content/maintenance/assets/fonts/open-sans-300.woff
wp-content/maintenance/assets/fonts/open-sans-300.woff2
wp-content/maintenance/assets/fonts/open-sans-regular.woff
wp-content/maintenance/assets/fonts/open-sans-regular.woff2
wp-content/maintenance/assets/images/bg.jpg
wp-content/maintenance/assets/images/facebook.svg
wp-content/maintenance/assets/images/instagram.svg
wp-content/maintenance/assets/images/plesk-logo.png
wp-content/maintenance/assets/images/twitter.svg